[Unit]
Description=Authentik Worker
After=authentik-postgresql.service
Requires=authentik-postgresql.service
RequiresMountsFor=/var/lib/authentik

[Container]
Image=ghcr.io/goauthentik/server:2026.2.3
Label='wud.tag.include=^\\d+\\.\\d+\\.\\d+$$'
Label='wud.link.template=https://github.com/goauthentik/authentik/releases/tag/version%%2F$${major}.$${minor}.$${patch}'
Label='wud.watch=true'

Label='glance.name=Worker'
Label='glance.hide=false'
Label='glance.parent=authentik'

Pod=authentik.pod

EnvironmentFile=/var/lib/authentik/authentik.env
EnvironmentFile=/var/lib/authentik/authentik-server+worker.env

Volume=/var/lib/authentik/data:/data:idmap
Volume=/var/lib/authentik/certs:/certs:idmap
Volume=/var/lib/authentik/custom-templates:/templates:idmap

Exec=worker

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
