[Unit]
Description=Dawarich Sidekiq
After=dawarich-database.service dawarich-redis.service dawarich-app.service
Requires=dawarich-database.service dawarich-redis.service dawarich-app.service
RequiresMountsFor=/var/lib/dawarich

[Container]
Image=docker.io/freikin/dawarich:1.7.10

Label='wud.tag.include=^\\d+\\.\\d+\\.\\d+$$'
Label='wud.link.template=https://github.com/Freika/dawarich/releases/tag/$${major}.$${minor}.$${patch}'
Label='wud.watch=true'

Label='glance.name=Sidekiq'
Label='glance.hide=false'
Label='glance.parent=dawarich'

Pod=dawarich.pod

EnvironmentFile=/var/lib/dawarich/dawarich.env

Volume=/var/lib/dawarich/app/public:/var/app/public:idmap
Volume=/var/lib/dawarich/app/watched:/var/app/tmp/imports/watched:idmap
Volume=/var/lib/dawarich/app/storage:/var/app/storage:idmap

Entrypoint=sidekiq-entrypoint.sh
Exec=sidekiq

HealthCmd=pgrep -f sidekiq
Notify=healthy

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
