[Unit]
Description=Glance Dashboard App
After=glance-podman-socket-proxy.service
Wants=glance-podman-socket-proxy.service
RequiresMountsFor=/var/lib/glance

[Container]
Image=docker.io/glanceapp/glance:v0.8.4
Label='wud.tag.include=^v\\d+\\.\\d+\\.\\d+$$'
Label='wud.link.template=https://github.com/glanceapp/glance/releases/tag/v$${major}.$${minor}.$${patch}'
Label='wud.watch=true'

Label='glance.name=Glance'
Label='glance.icon=/assets/services/glance.svg'
Label='glance.url=https://glance.gaydragon.zone/'
Label='glance.description=Dashboard hat puts all your feeds in one place'
Label='glance.hide=false'
Label='glance.id=glance'

Pod=glance.pod

EnvironmentFile=/var/lib/glance/glance.env

Volume=/var/lib/glance/config:/app/config:idmap
Volume=/var/lib/glance/assets:/app/assets:idmap

Volume=/sizecheck:/sizecheck:ro,idmap
Volume=/mnt/data/sizecheck:/mnt/data/sizecheck:ro

Volume=/sys/class/hwmon:/sys/class/hwmon:ro
Volume=/etc/gentoo-release:/etc/gentoo-release:ro
Volume=/etc/lsb-release:/etc/lsb-release:ro

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
