[Unit]
Description=Prometheus Monitoring System
RequiresMountsFor=/var/lib/grafana

[Container]
Image=docker.io/prom/prometheus:v3.11.3
Label='wud.tag.include=^v\\d+\\.\\d+\\.\\d+$$'
Label='wud.link.template=https://github.com/prometheus/prometheus/releases/tag/v$${major}.$${minor}.$${patch}'
Label='wud.watch=true'

Label='glance.name=Prometheus'
Label='glance.hide=false'
Label='glance.parent=grafana'

Pod=grafana.pod

Volume=/var/lib/grafana/prometheus/config:/etc/prometheus:idmap
Volume=/var/lib/grafana/prometheus/data:/prometheus:idmap

Exec=--config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus --storage.tsdb.retention.time=180d

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
