[Unit]
Description=Immich Valkey
RequiresMountsFor=/var/lib/immich

[Container]
Image=docker.io/valkey/valkey:8.1.7-alpine3.23
Label='wud.tag.include=^8\\.\\d+\\.\\d+-alpine\\d+.\\d+$$'
Label='wud.link.template=https://github.com/valkey-io/valkey/releases/tag/$${major}.$${minor}.$${patch}'
Label='wud.watch=true'

Label='glance.name=Valkey'
Label='glance.hide=false'
Label='glance.parent=immich'

Pod=immich.pod

EnvironmentFile=/var/lib/immich/immich.env

Volume=/var/lib/immich/valkey-data:/data:idmap

HealthCmd=valkey-cli ping | grep PONG

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
