[Unit]
Description=Maptile Cache
RequiresMountsFor=/var/lib/maptile-cache

[Container]
Image=docker.io/library/nginx:1.31.0
Label='wud.tag.include=^\\d+\\.\\d+\\.\\d+$$'
Label='wud.watch=true'

Network=maptile-cache.network

UserNS=auto

# HTTP
PublishPort=127.0.0.1:9020:80/tcp

Volume=/var/lib/maptile-cache/tiles:/var/cache/nginx/tiles:idmap
Volume=/var/lib/maptile-cache/nginx.conf:/etc/nginx/nginx.conf:ro

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target

