[Unit]
Description=Nextcloud PostgreSQL
RequiresMountsFor=/var/lib/nextcloud-container

[Container]
Image=docker.io/library/postgres:18.4

Label='wud.tag.include=^18\\.\\d+$$'
Label='wud.watch=true'

Label='glance.name=Database'
Label='glance.hide=false'
Label='glance.parent=nextcloud'

Pod=nextcloud.pod

EnvironmentFile=/var/lib/nextcloud-container/database.env

Volume=/var/lib/nextcloud-container/database:/var/lib/postgresql:idmap

HealthCmd=pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
Notify=healthy

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
