[Unit]
Description=SearXNG Core
RequiresMountsFor=/var/lib/searxng

After=searxng-valkey.service
Requires=searxng-valkey.service

[Container]
Image=docker.io/searxng/searxng:2026.9.19-367fb6537
Pull=newer

Label='wud.tag.include=^\\d+\\.\\d+\\.\\d+-.*$$'
Label='wud.tag.transform=^(\\d+\\.\\d+\\.\\d+)-.*$$ => $$1'
Label='wud.link.template=https://github.com/searxng/searxng/commits/master/'
Label='wud.watch=true'

Label='glance.name=SearXNG'
Label='glance.icon=/assets/services/searxng.svg'
Label='glance.url=https://searxng.sillylizard.dev/'
Label='glance.description=Internet metasearch engine'
Label='glance.hide=false'
Label='glance.id=searxng'

Pod=searxng.pod

# ID 977:977 in the container
User=searxng:searxng

EnvironmentFile=/var/lib/searxng/core.env

Volume=/var/lib/searxng/core-config:/etc/searxng:idmap
Volume=/var/lib/searxng/core-data:/var/cache/searxng:idmap

# spoofed X-Real-IP header to silence "X-Forwarded-For nor X-Real-IP header is set!"
# error when accessing directly from localhost
HealthCmd=["wget", "--quiet", "--spider", "--header=X-Real-IP: 127.0.0.1", "http://127.0.0.1:8080/healthz"]
Notify=healthy

[Service]
TimeoutStartSec=10min
Restart=on-failure

[Install]
WantedBy=multi-user.target
