[Unit]
Description=tModLoader Server
RequiresMountsFor=/var/lib/tmodloader

[Container]
Image=tmodloader.build

UserNS=auto

Network=tmodloader.network
# proxied by haproxy for proper ipv6
PublishPort=127.0.0.1:9025:7777/tcp

Volume=/var/lib/tmodloader/tModLoader:/tModLoader:idmap

# uncomment to allow attaching to the interactive console
# usually not needed if serverconfig.txt is setup correctly
# connect with podman attach systemd-tmodloader
# disconnect with ctrl+p ctrl+q
# PodmanArgs=--interactive --tty

[Service]
Restart=on-failure
