[Unit]
Description=Periodically dump all configured HAProxy crt-stores
After=haproxy.service
Requisite=haproxy.service

ConditionPathExists=/etc/haproxy/haproxy.cfg
ConditionPathIsSocket=/run/haproxy-admin.sock

[Service]
Type=oneshot
ExecStart=/usr/bin/haproxy-crt-store-dumper

ProtectSystem=strict
ReadWritePaths=/etc/haproxy/ssl
ReadWritePaths=/run/haproxy-admin.sock
