## ZSTD as default
CONFIG_KERNEL_ZSTD=y
CONFIG_MODULE_COMPRESS_ZSTD=y

## use zram instead of zswap
# CONFIG_ZSWAP is not set

## Not a VM
# CONFIG_HYPERVISOR_GUEST is not set
# CONFIG_VIRT_DRIVERS is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_VDPA is not set

## systemd
# CONFIG_GENTOO_LINUX_INIT_SCRIPT is not set
CONFIG_GENTOO_LINUX_INIT_SYSTEMD=y

## needed for UKI
CONFIG_EFI_ZBOOT=y
