### Config spec to have the Intel Xe driver built-in
### and other (major) drivers disabled

#
# Kernel Testing and Coverage
#
CONFIG_KUNIT=y
# CONFIG_KUNIT_DEFAULT_ENABLED is not set
# CONFIG_KUNIT_AUTORUN_ENABLED is not set
# end of Kernel Testing and Coverage

CONFIG_INTEL_VSEC=y

# CONFIG_DRM_RADEON is not set
# CONFIG_DRM_AMDGPU is not set
# CONFIG_DRM_NOUVEAU is not set
# CONFIG_DRM_I915 is not set
CONFIG_DRM_XE=y
CONFIG_DRM_XE_FORCE_PROBE="*"
